    <footer>

            <div class="footer__contact">
                <h3>Contact</h3>
                <p>E-mail: <span>ruben@email.com</span></p>
                <p>Phone: <span>(+123) 456 - 789</span></p>
            </div>
            <div class="footer__top-button">
                <button class="top-button" href="#logo">
                    <i class="fa-solid fa-arrow-up"></i>
                </button>
            </div>
            <div class="footer__social-media">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-square-linkedin"></i>
            </div>
        <div class="footer__copyr">
            <p>Copyright © 2025 Ruben Juarez | All Rights Reserved</p>
        </div>
    </footer>
