<nav class="nav" aria-label="main">
    <div class="nav__logo">
        <i class="fa-solid fa-earth-americas"></i>
    </div>
    <ul class="nav__list">
        <li><a href="" class="nav__item-icon"><i class="fa-solid fa-house-chimney"></i><span class="nav__item-text"></span>Home</li>
        <li><a href="" class="nav__item-icon"><i class="fa-solid fa-calendar-days"></i><span class="nav__item-text"></span>Timeline</li>
        <li><a href="" class="nav__item-icon"><i class="fa-solid fa-tower-cell"></i><span class="nav__item-text"></span>Infrastructure</li>
        <li><a href="" class="nav__item-icon"><i class="fa-solid fa-people-roof"></i><span class="nav__item-text"></span>Inclusion</li>
        <li><a href="" class="nav__item-icon"><i class="fa-solid fa-bitcoin-sign"></i><span class="nav__item-text"></span>Economy</li>
    </ul>
    <div class="nav__sources">
        <i class="fa-solid fa-clipboard-list"></i>
    </div>
</nav>


