<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8f4601af06.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("partials/header") %>
    <main>
        <section class="hero-home">
            <div class="hero-home__text">
                <h1 class="title">Panama's Internet History</h1>
                <p class="text">Welcome to my Course Work 2!</p>
                <p class="text">In this web app I will be sharing my country's internet History from 2002 to 2025</p>
            </div>
            <img src="/assets/panama-flag.jpg" alt="Panama flag">
        </section>
    </main>
    <section class="about">
        <h2 class="subtitle">About Panama</h2>
    </section>
    <%- include("partials/footer") %>
</body>
</html>
